<div ng-include="'public/app/templates/site/partials/header.html'"></div>
  <section>
    <div class="container" ng-controller="loginController">
        <div ng-include="'public/app/templates/site/partials/message_display.html'"></div>
      <div class="container_login">
        <div class="register-form">
          <h2>Forgot Password</h2>
          <form name="forgotForm" ng-submit="forgotForm.$valid &&forgotPassword(form)" novalidate>
            <div class="register-form-inner">
              <div class="form-group">
                <input type="email" name="email" ng-model="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" placeholder="Email Address" ng-maxlength="100" required />
                <span class="error" ng-show="forgotForm.email.$touched && forgotForm.email.$invalid">
                <span ng-show="forgotForm.email.$error.required">Email is required.</span>
                <span ng-show="forgotForm.email.$error.email">Invalid email address.</span>
              </div>
              <div class="forgot_password"> </div>
              <div class="submit_panel">
                <div class="form-group">
                  <button type="submit" class="sub_button" ng-disabled="forgotForm.$invalid">Submit</button>
                </div>
              </div>
            </div>
            <div class="haveAccount_panel">
              <p>New to Evolved Educator?</p>
              <a href="#/register"> Sign Up</a> </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<div ng-include="'public/app/templates/site/partials/footer.html'"></div>
