<div ng-include="'public/app/templates/site/partials/header.html'"></div>

<section>
    <div class="container" ng-controller="authController" ng-init="getFormToken()">
        <div ng-include="'public/app/templates/site/partials/message_display.html'"></div>
        <div class="container_login">
            <div class="register-form" ng-controller="loginController">
                <h2>Reset Password</h2>
                <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && passwordReset(forgot)" novalidate>
                    <div class="register-form-inner">
<!--                        <div class="form-group">
                            <input type="text" required name="password_verify_code" ng-model="forgot.password_verify_code" class="form-control"  placeholder="Verification code" />
                            <span class="error" ng-show="resetPasswordForm.password_verify_code.$touched && resetPasswordForm.password_verify_code.$invalid">That doesn't look like a valid Verification Code, It should be Min 8 and Max 10 charecters.</span>
                        </div>-->

                        <div class="form-group">
                            <input type="password" required name="password" ng-model="forgot.password" class="form-control" ng-maxlength="64" ng-minlength="6" placeholder="Password" />                  
                            <span class="error" ng-show="resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid">
                                <span ng-show="resetPasswordForm.password.$error.required">Password is required.</span>
                                <span ng-show="resetPasswordForm.password.$error.maxlength">Password length must not exceed 64 characters.</span>
                                <span ng-show="resetPasswordForm.password.$error.minlength">Password must be minimum 6 characters.</span>
                            </span>
                        </div> 
                        <div class="form-group">
                            <!-- <input type="password" class="form-control" name="confirm_password" ng-model="confirm_password" placeholder="Confirm Password" required > -->
                            <input type="password" required name="confirm_password" ng-model="forgot.confirm_password" class="form-control"  placeholder="Confirm password" matcher="{{forgot.password}}" />                  
                            <span class="error" ng-show="resetPasswordForm.confirm_password.$touched && resetPasswordForm.confirm_password.$invalid">
                                <span ng-show="resetPasswordForm.confirm_password.$error.required">Confirm Password is required.</span><br/>
                                <span ng-show="resetPasswordForm.confirm_password.$error.matcher">Confirm Password should be same as password.</span>
                            </span>
                        </div>

                        <div class="submit_panel">
                            <div class="form-group">
                                <button type="submit" ng-disabled="resetPasswordForm.$invalid" class="sub_button">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="haveAccount_panel">
                        <p>New to Evolved Educator?</p>
                        <a href="#/register">Sign Up</a> </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div ng-include="'public/app/templates/site/partials/footer.html'"></div>
