<div class="col-xs-12 col-sm-6 col-md-7">
    <div class="editor-toolbar">
        <div class="editorbar_section">
            <nav class="editing-nav-menu">
                <ul auto-active>
                    <li class="active"><a data-href="#/outline/create" href="javascript:void(0)"
                            ng-click="redirect('outline/create')">Outline</a></li>
                    <!-- <li><a href="javascript:void(0)">Plan</a></li> -->
                    <!-- href="#/modification/create" -->
                    <li><a data-href="#/modification/create" href="javascript:void(0)"
                            ng-click="redirect('modification/create')">Modifications</a></li>
                    <li><a data-href="#/preview/create" href="javascript:void(0)" ng-click="setPreview()">Preview</a>
                    </li>
                    <li>
                        <!--  <a ng-class="checkurl_preview()" data-href="javascript:void(0)" href="javascript:void(0)" class="save_button" ng-controller="modificationController" ng-click="modification()" >Save</a> -->
                        <a data-href="javascript:void(0)" href="javascript:void(0)" class="save_button"
                            ng-click="modification()">Save</a>
                    </li>
                </ul>
            </nav>
            <!--<h5>B i U editing tool bar for all fields</h5>-->
        </div>
    </div>
</div>