<!-- <div ng-include="'public/app/templates/site/partials/header.html'"></div>
<div ng-controller="pageController" class="innerContainer" ng-init="terms()">
    <div class="help-section">
        <div class="container">
            <h3 class="md-title">{{termDetail.title}}</h3>
            <div class="editor_description" ng-bind-html="termDetail.description"> </div>
        </div>
    </div>
</div>
<div ng-include="'public/app/templates/site/partials/footer.html'"></div>
 -->
 <div ng-include="'public/app/templates/site/partials/header.html'"></div>
<section>
    <div class="container">
        <div ng-controller="pageController" class="innerContainer" ng-init="terms()">
            <div class="help-section">
                <h3 class="md-title">{{termDetail.title}}</h3>
                <div class="editor_description" ng-bind-html="termDetail.description"> </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'public/app/templates/site/partials/footer.html'"></div>
