<!-- redirect from lesson\html after grade, subject, theme selection and payment check then select learning targets and add to outline -->

<div ng-include="'public/app/templates/site/partials/header.html'"></div>

<section ng-controller="outlineController">
    <div class="container">
        <div ng-include="'public/app/templates/site/partials/message_display.html'"></div>
        <div class="guid-work">

            <!------------------- start of create tab menu, left side -------------------------->
            <div ng-show="classdiv" class="col-xs-12 col-sm-6 col-md-5">
                <div class="ELA_literature">
                    <ul class="clearfix">
                        <li>{{lesson_data.grade_name}}</li>
                        <li>{{lesson_data.subject_name}}</li>
                        <li>{{lesson_data.theme_name}}</li>
                    </ul>
                    <h5>{{lesson_data.unit_title}}</h5>

                    <!------------ use select-tab.html to select key concepts/learning targets add to outline ----------->
                    <div id="sortable" class="tab-menu content">
                        <div ng-include="'public/app/templates/site/lession/select-tab.html'"></div>
                    </div>
                </div>
            </div>

            <!-- ------------------------ start of create lesson, right side --------------------------------->
            <div ng-show="classdiv" ng-init="getLessonFixedcontent()">
                <div ng-include="'public/app/templates/site/partials/menu.html'"></div>
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <div ng-show="emptybxdiv" class="editordesc">
                        <div class="result-title">
                            <h2>Get Started!</h2>
                        </div>
                        <div class="lession-complete">
                            <div class="lesson-name">
                                <strong>Choose Key Concepts and Learning Targets from the left panel.</strong>
                            </div>
                        </div>
                    </div>

                    <div ng-show="!emptybxdiv" class="editormain-container scrollbar-dynamicyy"
                        data-jquery-scrollbar="jqueryScrollbarOptions2">
                        <form name="outlineForm" method="post">
                            <div class="editor-box">
                                <h4>Summary</h4>
                                <textarea ui-tinymce="tinymceOptions" ng-model="editor_summary"></textarea>
                            </div>
                            <div class="editor-box">
                                <h4>Standards</h4>
                                <textarea ui-tinymce="tinymceOptions" ng-model="editor_standards"></textarea>
                            </div>
                            <div class="editor-box">
                                <h4>Essential Questions</h4>
                                <textarea ui-tinymce="tinymceOptions" ng-model="editor_essential_questions"></textarea>
                            </div>
                            <div class="editor-box">
                                <h4>Core Ideas</h4>
                                <textarea ui-tinymce="tinymceOptions" ng-model="editor_core_ideas"></textarea>
                            </div>
                            <div class="editor-box">
                                <h4>Vocabulary</h4>
                                <textarea ui-tinymce="tinymceOptions" ng-model="editor_vocabulary"></textarea>
                            </div>
                            <div class="editor-box">
                                <h4>Lesson Sequence</h4>
                                <textarea ui-tinymce="tinymceOptions" ng-model="editor_lesson_sequence"></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="external-scroll_y" style="margin: 2%;">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar"></div>
                        </div>
                    </div>
                    <div class="external-scroll_yy">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar"></div>
                        </div>
                    </div>
                    <div class="external-scroll_x">
                        <div class="scroll-element_outer">
                            <div class="scroll-element_size"></div>
                            <div class="scroll-element_track"></div>
                            <div class="scroll-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-include="'public/app/templates/site/partials/footer.html'"></div>